In [91]:
#Importar librerías
import pandas as pd
import numpy as np

In [92]:
# Ajustar filas y columnas a mostrar
pd.options.display.max_rows = 50
pd.options.display.max_columns = 20

In [93]:
# Importar el dataset
df = pd.read_excel('Gastos y costos 20-23.xlsx', sheet_name = '2022', skiprows= 3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2577 non-null   datetime64[ns]
 1   Folio        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   Proveedor    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   Descripción  2577 non-null   object
 7   MP           2025 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  Otros        0 non-null      float64
 14  TOTAL MX     2577 non-null   float64
 15  TOTAL SAT    2577 non-null   float64
 16  Tipo         2577 non-null   object
 17  Status       2577 non-null   object
 18  Poliza       1776 non-null   object
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 382.7+ KB

In [94]:
# Conocer el data set
df

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2022-01-01,280108,9DA0E63F-1D47-441F-93D7-C2E05AE4D35E,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 18/36 de 03/12/...,PPD,1.0,5551.38,888.22,0.0,0.0,NaN,6439.60,6439.60,I,Vigente,PE02-ENE22
1,2022-01-01,280109,7E00E776-A839-4D57-B291-411109164B2F,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,PPD,1.0,5551.98,888.32,0.0,0.0,NaN,6440.30,6440.30,I,Vigente,PE03-ENE22
2,2022-01-01,007817297284,BB6585C1-3B54-4130-AFD0-1867C3764821,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,Servicios de Facturación,PUE,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,I,Vigente,NaN
3,2022-01-01,5595,B5E4B4EB-6C2F-11EC-BB9D-00155D014009,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
4,2022-01-01,5614,BB6756D1-6CCD-11EC-947D-00155D014407,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,2022-12-01,863376,E90DA089-3C3B-45C8-A19C-B8810D222F60,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,COMISIONES E INTERESES,PUE,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,I,Vigente,NaN
2573,2022-12-01,1092957089,D720ED7C-F370-4236-B269-8873ABB78745,BMN930209927,BANCO MERCANTIL DEL NORTE SA INSTITUCION DE BA...,COMISION BANCARIA,SERVICIOS BANCARIOS,PUE,1.0,17310.30,516.32,0.0,0.0,NaN,17826.62,17826.62,I,Vigente,NaN
2574,2022-12-01,4,0AFD3EB5-F3DD-43EB-B9FA-79D793CFF417,AAE6411055P8,Aesa Articulos Electricos S.A de C.V,COMPRAS,Pago,NaN,NaN,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
2575,2022-12-01,16,E3CA1DA8-581A-5844-80D2-CF0317B3BBEA,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
2576,2022-12-01,17,17178BA2-9CCE-54F8-A4B8-3E5F98D4DB8E,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN

In [95]:
# Checar valores nulos
df.isnull().sum()

Fecha             0
Folio           102
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              552
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [96]:
# Primera sustitución de valores nulos para la columna Folio
""" 
Al ser una variable de tipo objeto, se decidió sustituir los 102 valores nulos de la columna, por el valor de folio '5555', con el cual servirá para identificarlos posteriormente.
"""
df_clean = df.copy()
# Checar si hay un folio con el valor de 5555
print(df_clean[df_clean['Folio'] == '5555'])

# Sustitución
df_clean['Folio'] = df_clean['Folio'].fillna('5555')

# Observar la sustitución
print(df_clean.isnull().sum())

Empty DataFrame
Columns: [Fecha, Folio, UUID, RFC, Proveedor, TIPO GASTO, Descripción, MP, TC, Importe, IVA, RET ISR, RET IVA, Otros, TOTAL MX, TOTAL SAT, Tipo, Status, Poliza]
Index: []
Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              552
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [97]:
# Filtrar los registros con MP nulo
filtro = df_clean['MP'].isna()

# Ver si la descripción contiene 'pago' (sin importar mayúsculas/minúsculas)
df_clean.loc[filtro, 'Descripción'].str.contains('pago', case=False, na=False).all()

#df.loc[filtro, ['Descripción', 'MP']] , otra forma de corroborar

np.True_

In [98]:
# Segunda sustitución de valores para la columna MP
"""    
Se decidió sustituir los 552 valores nulos de la columnna MP, por el string 'DescPago', ya que se observa que en la columna Descripción, todos los registros con 'pago', tienen el valor nulo en MP 
"""
df_clean['MP'].value_counts() 

# Susticución con 'DescPago
df_clean['MP'] = df_clean['MP'].fillna('DescPago')


# Observar la sustitución
df_clean.isnull().sum()

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP                0
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [99]:
# Tercera sustitución de valores nulos para la columna TC
print(df_clean['TC'].value_counts())
'''
Se decidió sustituir los 636 valores nulos de la columna TC, por el string '0', debido a que no se encontró una relación entre los registros nulos y cualquier otra columna
'''

df_clean['TC'] = df_clean['TC'].fillna(0)

# Observar la sustitución
df_clean.isnull().sum()

TC
1.0000     1923
19.6855       1
19.8103       1
20.1271       1
20.3570       1
20.1432       1
20.3626       1
20.7500       1
20.1353       1
19.8300       1
20.4672       1
20.3453       1
19.8911       1
20.9262       1
20.5212       1
20.6134       1
20.4598       1
20.3977       1
19.3081       1
Name: count, dtype: int64

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP                0
TC                0
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [100]:
# Cuarta sustitución de valores nulos para la columna Otros
'''
Se decidió eliminar la columna Otros y sus 2577 valores nulos, debido a que no aporta información relevante al análisis, ya que no hay ningún solo registro. 
'''

df_final_clean = df_clean.drop(columns = ['Otros'])

# Observar la sustitución
df_final_clean.isnull().sum()

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP               0
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         801
dtype: int64

In [101]:
# Quinta sustitución de valores nulos para la columna Poliza
'''
Se decidió sustituir los 801 valores nulos de la columna Poliza, utilizando el método forward fill, debido a que las filas con poliza faltante, son anteriores a una fila con poliza, por lo que se asume que será la misma poliza que la anterior.
'''

# Sustitución con método bfill
df_final_clean['Poliza'] = df_final_clean['Poliza'].fillna(method = "ffill")

# Observar la sustitución
df_final_clean.isnull().sum()

/var/folders/c5/_p39j2b97hb2d064t5tdpypm0000gn/T/ipykernel_25884/3499234266.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_final_clean['Poliza'] = df_final_clean['Poliza'].fillna(method = "ffill")

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

In [102]:
# Guardar el dataset limpio
df_final_clean.to_csv('Gastos y costos 20-23 Limpio Sheet 2022.csv')